body {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #468f7f, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #34689c, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.carousel-inner img {
    width: 100%;
    max-height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-inner {
    height: 100%;
}

.container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.footerfondo {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7faca2, #356d92);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #79838d, #6ba6c2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footerfondo ul li a:hover {
    color: #f56c49;
    padding-left: 2px;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 45px;
}

.fa-twitter {
    color: #00aced;
    font-size: 45px;
}

.fa-facebook-square {
    color: #3b5998;
    font-size: 45px;
}