{% extends 'app/base.html' %} {% load static %} {% block content %} {% load humanize %}



<body>

    <section class="container prod my-5 pt-5">
        <div class="row mt-5">
            <div class="col-lg-5 col-md-12 col-12">
                <img class="img-fluid w-100" src="{{ obj.imagen.url }}" alt="imagen producto">
            </div>

            <div class="col-lg-5 col-md-12 col-12">
                <h6>{{ obj.tipo }}</h6>
                <p class="text-center lead" id="textoHome">PRODUCTOS</p>
                <h3>{{ obj.marca | capfirst }}</h3>
                <hr>
                <h2>{{ obj.nombreProducto | capfirst}}</h2>
                <hr>
                <h1>${{ obj.precio | intcomma}}</h1>
                <hr>
                <h3>Talla: {{ obj.talla }}</h3>
                <hr>
                <center>
                    <button data-producto="{{obj.id}}" data-action="add" class="btn btn-primary add-btn update-carro">Agregar al Carrito</button>

                </center>
                <h5 class="mt-5 mb-5">Descripcion </h5>
                <samp>{{ obj.descripcion }}</samp>
            </div>
        </div>
    </section>

</body>




{% endblock %}