body {
    background: #eff0f0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbfbfb, #e19696);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F7F9F9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial, Helvetica, sans-serif, 'Arial Narrow', Arial, sans-serif
}

#chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}

.carousel-inner img {
    width: 100%;
    max-height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-inner {
    height: 100%;
}

.container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    margin: 20px 10px;
}


/*Productos*/

#tituloProducto {
    font-size: xx-large;
}

#marcaProducto {
    font-size: x-large;
}

#precioProducto {
    font-size: large;
}

.card-img-top {
    height: 190px;
    width: 190px;
    margin: 10px 20px 10px 1px;
    border-style: solid;
}

.centrado {
    max-width: 50%;
    height: auto;
    margin: 10px auto;
    display: block;
    border-radius: 85%;
}

img.centrado {
    cursor: pointer;
    transition: all 2s ease;
}

img.centrado:hover {
    filter: grayscale(75);
}

.footerfondo {
    background-color: #b0daed71;
    height: 100%;
    width: 100%;
}

.footerfondo ul li a:hover {
    color: #000000;
    padding-left: 50px;
}

#footerLogo {
    height: 100px;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 30px;
}

.fa-twitter {
    color: #00aced;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 30px;
}

.fa-facebook-square {
    color: #3b5998;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 30px;
}

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
}

.textoC {
    color: black;
}